
.vs/P2 FP1/DesignTimeBuild/
.vs/P2 FP1/FileContentIndex/
.vs/P2 FP1/ProjectEvaluation/
.vs/P2 FP1/v17/
*.bin
*.v2
*.suo
.vs/P2 FP1/DesignTimeBuild/.dtbcache.v2
.vs/P2 FP1/v17/.suo
.vs/ProjectEvaluation/p2 fp1.metadata.v7.bin
.vs/ProjectEvaluation/p2 fp1.projects.v7.bin
obj/Debug/net6.0/P2 FP1.pdb
*.dll
*.pdb
